In [23]:
import pandas as pd

In [24]:
import numpy as np

In [25]:
#Que.01

Cutlets=pd.read_csv("Cutlets.csv")

In [26]:
Cutlets

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [27]:
Cutlets.mean()

Unit A    7.019091
Unit B    6.964297
dtype: float64

In [28]:
Cutlets.std()

Unit A    0.288408
Unit B    0.343401
dtype: float64

In [29]:
UnitA=Cutlets.iloc[:,0]
UnitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [30]:
UnitB=Cutlets.iloc[:,1]
UnitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [31]:
from scipy import stats
import pandas as pd
import numpy as np
from sklearn import datasets

In [32]:
p_value=stats.ttest_ind(UnitA,UnitB)
p_value[1]

0.4722394724599501

In [33]:
UnitA.mean()

7.01909142857143

In [34]:
import scipy.stats as stats

In [35]:
UnitB.mean()

6.964297142857142

In [14]:
#Que.02

LabTAT=pd.read_csv("LabTAT.csv")

In [15]:
LabTAT

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [16]:
p_values=stats.f_oneway(LabTAT.iloc[:,0],LabTAT.iloc[:,1],LabTAT.iloc[:,2],LabTAT.iloc[:,3])
p_values

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [17]:
import scipy.stats as sp

In [18]:
#Que.3
alpha=0.05
Male=[50,142,131,70]
Female=[435,1523,1356,750]
Sales=[Male,Female]
print(Sales)

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [19]:
chitStats=sp.chi2_contingency(Sales)

In [20]:
print("Test t=%f p-value=%f" %(chitStats[0],chitStats[1]))
print('Interpret by p-Value')
if chitStats[1] < 0.05:
    print('''we reject null hypothesis because p-value 
           less than significance value''')
else:
    print('''we accept null hypothesis because p-value 
          more than significance value''')

Test t=1.595946 p-value=0.660309
Interpret by p-Value
we accept null hypothesis because p-value
          more than significance value

In [9]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [12]:
#Que no 4
data=pd.read_csv(r"C:\Users\Satish\Downloads\Costomer+OrderForm.csv")

In [13]:
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [24]:
print(data["Phillippines"].value_counts(),data["Indonesia"].value_counts(),data["Malta"].value_counts(),data["India"].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [25]:
observed=([271,267,269,280],[29,33,31,20])

In [26]:
observed

([271, 267, 269, 280], [29, 33, 31, 20])

In [27]:
stat,p,dof,expected=chi2_contingency([271,267,269,280],[29,33,31,20])

In [28]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [29]:
stat

0.0

In [30]:
p

1.0

In [31]:
print('dof=%d' % dof)
print(expected)

dof=0
[271. 267. 269. 280.]

In [32]:
alpha=0.05
prob=1-alpha
critical=chi2.ppf(prob,dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob,critical,stat))
if abs(stat) >=critical:
   print('Dependent (Accept an Alternate Hypothesis H1),variables are related')
else:
   print('Independent (Accept Null Hypothesis H0),variables are not related')

probability=0.950, critical=nan, stat=0.000
Independent (Accept Null Hypothesis H0),variables are not related

In [33]:
from scipy.stats import chi2

In [34]:
print('significance=%.3f,p=%.3f' %(alpha,p))
if p<= alpha:
    print('Dependent (Accept an Alternate Hypothesis H1)')
else:
    print('Independent (Accept Null Hypothesis H0)')

significance=0.050,p=1.000
Independent (Accept Null Hypothesis H0)