# Problem statement



**Build a recommender system by using cosine simillarties score.**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Load the data into data frame 
book_data=pd.read_csv("book.csv",encoding='latin1')

In [3]:
#Display first few records
book_data.head()

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

# EDA

In [4]:
#Getting information about data
book_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   User.ID      10000 non-null  int64
 2   Book.Title   10000 non-null  object
 3   Book.Rating  10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB

In [5]:
# We dont need the 'Unnamed: 0' column from the table 
book_data.drop(columns=['Unnamed: 0'],inplace=True)
book_data.head()

   User.ID                                         Book.Title  Book.Rating
0   276726                                Classical Mythology            5
1   276729                                       Clara Callan            3
2   276729                               Decision in Normandy            6
3   276736  Flu: The Story of the Great Influenza Pandemic...            8
4   276737                             The Mummies of Urumchi            6

In [6]:
#Renamin the columns
book_data.rename(columns={'User.ID':'user_id','Book.Title':'book_title','Book.Rating':'book_rating'},inplace=True)
book_data

      user_id                                         book_title  book_rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [7]:
#how many unique records are there 
print(len(book_data.user_id.unique())), print(len(book_data.book_title.unique()))

2182
9659

(None, None)

In [8]:
#checking how many people gave rating from range 1 to 10
book_data.book_rating.value_counts().sort_index()

1       43
2       63
3      146
4      237
5     1007
6      920
7     2076
8     2283
9     1493
10    1732
Name: book_rating, dtype: int64

In [9]:
#checking how many variety books we ghave 
book_data.book_title.value_counts().sort_index()

 Jason, Madison &amp                                                       1
 Other Stories;Merril;1985;McClelland &amp                                 1
 Repairing PC Drives &amp                                                  1
'48                                                                        1
'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities      1
                                                                          ..
\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character    1
\Well, there's your problem\: Cartoons                                     1
iI Paradiso Degli Orchi                                                    1
stardust                                                                   1
Ã?Â?bermorgen.                                                             1
Name: book_title, Length: 9659, dtype: int64

In [14]:
#Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)

In [16]:
#Set the index and column names to user ids 
user_sim_df.index = book_data.user_id.unique()
user_sim_df.columns = book_data.user_id.unique()

## creating pivote table

In [17]:
user_book_pivote=pd.pivot_table(book_data,index='user_id',columns='book_title',values='book_rating').fillna(0)
user_book_pivote.head()

book_title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
user_id,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Calculating Cosine Similarity between Users

In [18]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation
user_sim = 1 - pairwise_distances( user_book_pivote.values,metric='cosine')
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [19]:
#lets see the ratio of non zero values
sparsity=float(len(user_sim.nonzero()[0]))
sparsity/=(user_sim.shape[0]*user_sim.shape[1])
sparsity*=100
sparsity

0.06137206256337789

In [20]:
#Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)
user_sim_df.shape

(2182, 2182)

In [21]:
#Set the index and column names to user ids 
user_sim_df.index = list(user_book_pivote.index)
user_sim_df.columns = list(user_book_pivote.index)

In [22]:
user_sim_df.head(10)

,8,9,10,12,14,16,17,19,22,26,...,278831,278832,278836,278843,278844,278846,278849,278851,278852,278854
8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
#filling diagonals with zeros
np.fill_diagonal(user_sim, 0)

In [24]:
user_sim_df.sort_values([8],ascending=False).head(10)

,8,9,10,12,14,16,17,19,22,26,...,278831,278832,278836,278843,278844,278846,278849,278851,278852,278854
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161755,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161749,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161753,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
user_sim_df.max()

8         0.000000
9         0.000000
10        0.000000
12        0.000000
14        0.000000
            ...
278846    0.000000
278849    0.000000
278851    0.023464
278852    0.000000
278854    0.000000
Length: 2182, dtype: float64

In [31]:
#Most Similar Users
recomend_id=user_sim_df.idxmax(axis=1)[0:50]
recomend_id.unique()

array([     8, 278418,   3757,   1996,    882, 276861,   1211, 276780,
          899])

In [32]:
#finding recommendation
def give_reco(customer_id):
    tem=list(user_sim_df.sort_values([customer_id],ascending=False).head(100).index)
    book_list=[]
    for i in tem:
        
        book_list=book_list + list(book_data[book_data["user_id"]==i]["book_title"])
        
         
    return set(book_list)-set(book_data[book_data["user_id"]==customer_id]["book_title"])

In [33]:
#below function gives recomendation to given use_id
give_reco(1996)

{"'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities",
 '24 Hours',
 'A Certain Justice: A Novel',
 "A Child's Night Dream",
 'A Darkness More Than Night',
 'A Dog Year: Twelve Months, Four Dogs, and Me',
 "A False Sense of Well Being (Ballantine Reader's Circle)",
 'A Flash in the Pan: 100 Fast and Furious Recipes for Wok and Stir-Fry',
 'A Free Man of Color (Benjamin January (Paperback))',
 'A GATHERING OF SAINTS',
 'A Lady Never Trifles with Thieves',
 'A Letter of Mary (Mary Russell Novels (Paperback))',
 'A Letter to Harvey Milk: Short Stories',
 'A Light in the Attic',
 'A Pocket Guide to Oahu',
 "A Single Tear: A Family's Persecution, Love, and Endurance in Communist China",
 'A Wreath for Rivera',
 'A lexicon of Jewish cooking: A collection of folklore, foodlore, history, customs, and recipes',
 'Acceptable Risk',
 'After All These Years',
 "Ain't I A Woman!: A Book of Women's Poetry from Around the World",
 'All Around the World Cookbook',
 'All They Want for Christmas: Comfort and Joy / Merry Christmas, Baby',
 'All the Pretty Horses (The Border Trilogy, Vol 1)',
 'All the Tenderness Left in the World: Short Stories',
 'All-of-a-kind Family',
 'Alley Kat Blues (Kat Colorado Mysteries)',
 'Ambulance Girl: How I Saved Myself by Becoming an EMT',
 "Amy's Answering Machine: Messages from Mom",
 'Ancient Celtic Romances',
 'Animosity : A Novel',
 'Are You Somebody? : The Accidental Memoir of a Dublin Woman',
 'Artists in Crime',
 'At End of Day: A Novel',
 'Auntie Mayhem (Bed-And-Breakfast Mysteries (Paperback))',
 'BABY NAME PERSONALITY BOOK',
 'Babycakes',
 "Bad Jobs: My Last Shift at Albert Wong's Pagoda and Other Ugly Tales of the Workplace",
 'Ballad of Frankie Silver',
 'Bear (Nonpareil books)',
 'Belladonna: A Novel of Revenge',
 'Best Little Word Book Ever! (Little Golden Book)',
 'Better Homes and Gardens Cooking Chinese',
 'Better Times Than These',
 "Black As He's Painted",
 'Black Boy (American Hunger : a Record of Childhood and Youth)',
 "Blu's Hanging",
 'Blue Ridge',
 "Bootlegger's Daughter",
 'Borrowed Time: An AIDS Memoir',
 'Brazil',
 'Bread, Tomato, Garlic: Quick Cooking With 3 Main Ingredients',
 'Breathless: An Asthma Journal',
 'Brunswick Gardens',
 'Budding prospects: A pastoral (Contemporary American fiction)',
 'Burger Wuss',
 'Busiest Firefighters Ever! (Little Golden Book)',
 'C is for Corpse (Kinsey Millhone Mysteries (Paperback))',
 'CHINA WHITE',
 'Call No Man Father',
 'Cannery Row',
 'Cat on a Hyacinth Hunt : A Midnight Louie Mystery (A Midnight Louie Mystery)',
 'Cats, Cats, Cats!',
 'Cheaper and Better: Homemade Alternatives',
 'Chicken Soup from the Soul of Hawaii: Stories of Aloha to Create Paradise Wherever You Are',
 'Christmas Talk Story (Book &amp; CD)',
 'Claws',
 'Cleopatra VII: Daughter of the Nile, Egypt, 57 B.C. (The Royal Diaries)',
 "Clifford's Schoolhouse: With More Than 60 Fun Flaps to Lift (Clifford)",
 'Cold Shoulder',
 'Companions in Courage : Triumphant Tales of Heroic Athletes',
 'Confessions of a Pagan Nun : A Novel',
 'Cookie Monster/Cookie Tree',
 'Cracker: To Say I Love You (Cracker (Paperback))',
 'Crazy Ladies : A Novel',
 'Creepy Susie: And 13 Other Tragic Tales for Troubled Children',
 'Crepe Cookery',
 'Crimes of neglect',
 'Critical Judgment',
 'Dark Lady',
 'Daughter of the Queen of Sheba',
 'Daughters of the dreaming',
 'Day of Reckoning',
 'Daydreams',
 'Dead Lagoon: An Aurelio Zen Mystery (Vintage Crime/Black Lizard)',
 'Dead Time',
 'Dead Water',
 'Deadly Legacy',
 'Dear Dad: Letters from an Adult Child',
 'Dear Maggie (Harlequin Superromance, No 987)',
 'Death and the Dancing Footman',
 'Death at the Bar',
 'Death in Ecstasy',
 'Death of a Doxy: A Nero Wolfe Mystery (Crime Line)',
 "Death of a Fool (St. Martin's Dead Letter Mysteries.)",
 'Death of a Peer',
 'Descent of man: Stories (Contemporary American fiction)',
 'Desert Solitaire',
 'Desperation Dinners!',
 'Diamond Head (A John Caine Novel)',
 'Died in the Wool',
 'Dinkum oil; meanings and origins of things Aussies and Kiwis say',
 "Dinofours:  It's Time for School!",
 'Disappearing Moon Cafe',
 "Disney's 102 Dalmatians : A Read-Aloud Storybook",
 'Do You Know?',
 "Don't Sit U/Grits",
 "Douglas Adams's Starship Titanic",
 'Down Among the Women',
 'Dr. Dolittles Garden',
 'Dreamland',
 "Dress Codes: Of Three Girlhoods--My Mother's, My Father's, and Mine",
 'Driving and Discovering Oahu (Driving and Discovering Books)',
 'Dust to Dust',
 'Dynamic Yoga',
 'Each Day a New Beginning: Daily Meditations for Women',
 'Each Peach Pear Plum (Picture Puffins)',
 'Eleven Days: A Novel of the Heartland',
 'Encyclopedia Brown and the Case of the Mysterious Handprints (Encyclopedia Brown (Paperback))',
 'End of the Road',
 'Enter a Murderer (Dead Letter Mysteries)',
 'Escape from Fire Island!: A Date With Destiny Adventure',
 'Evans Above (Constable Evan Evans Mysteries (Paperback))',
 'Everville : The Second Book of the Art',
 'Exclusive',
 'Eyes of a Child',
 'FINDING THE BOYFRIEND WITHIN : A Practical Guide for Tapping into your own Source of Love, Happiness, and Respect',
 'FOR COLORED GIRLS WHO HAVE CONSIDERED SUICIDE WHEN THE RAINBOW IS ENUF',
 'Family Traditions in Hawaii',
 'Far Side Gallery 4 (Hardback)',
 'Fat Land: How Americans Became the Fattest People in the World',
 'Fender Benders',
 'Fiesta! A Celebration of Latin Hospitality',
 'Final Curtain',
 'Final Victim',
 'Finn Family Moomintroll',
 'Fire Wall (Checkered Flag)',
 'First Avenue',
 'Fluke : Or, I Know Why the Winged Whale Sings',
 "Flying Hawaii : A Pilot's Guide to the Islands",
 'Food for Fifty',
 "Fresh For '01... You Suckas: A Boondocks Collection",
 'Further Tales of the City',
 'Further Tales of the City (Tales of the City Series, V. 3)',
 'Fuzzy Logic Get Fuzzy 2',
 'Ghost Dance',
 'Golden Age of Promiscuity',
 'Good Night, Little Bear (Little Golden Book Series)',
 'Good Night, Mr. Holmes (Irene Adler)',
 'Great Good Food : Luscious Lower-Fat Cooking',
 'Groovitude: A Get Fuzzy Treasury',
 "Grover's Own Alphabet",
 'Gump &amp; Co.',
 'Gynecology: The Metaethics of Radical Feminism',
 'Hammerhead Ranch Motel',
 'Hard Frost',
 "Hawaii: True Stories of the Island Spirit (Travelers' Tales Guides)",
 'Hell to Pay',
 'Help Me to Help My Child: A Sourcebook for Parents of Learning-Disabled Children',
 'Hide and Seek',
 'High Adventure in the Great Outdoors',
 'Hitched! (The Taggarts Of Texas) (Superromance, 933)',
 'Hocus (Irene Kelly Mysteries (Paperback))',
 'Home for a Dinosaur (Giant First Start Reader)',
 'Honky Tonk Kat (Kat Colorado Mysteries)',
 'Honolulu Homicide: Murder and Mayhem in Paradise',
 'Hostile Witness',
 'Hot Type: Our Most Celebrated Writers Introduce the Next Word in Contemporary American Fiction (Collier Fiction)',
 'Hotel Honolulu: A Novel',
 'House of Blues: A Skip Langdon Novel',
 'How to Cook Everything: Simple Recipes for Great Food',
 "I Don't Know But I've Been Told : A Novel",
 'I Had a Dollar in Hawaii',
 'I Hope You Dance',
 "I Myself Have Seen It: The Myth of Hawai'i",
 "I Saw Esau: The Schoolchild's Pocket Book",
 "I Think That It is Wonderful: Featuring Jim Henson's Sesame Street Muppets (Little Golden Book)",
 'I Will Fear No Evil',
 "I'm the One That I Want",
 "IF YOU'RE AFRAID OF DARK",
 'INTIMACY : A NOVEL',
 'INVASION OF PRIVACY (John Francis Cuddy Mystery)',
 'If the River Was Whiskey: Stories (Contemporary American Fiction)',
 'In the Presence of the Enemy',
 'Interpreter of Maladies',
 "Isabel's Daughter : A Novel",
 "It's a Slippery Slope",
 'Jaguars Ripped My Flesh: Adventure Is a Risky Business (Bantam New Fiction Series)',
 'Jennifer, Hecate, MacBeth, William McKinley and Me, Elizabeth',
 'Jitterbug Perfume',
 'John Dollar: A Novel',
 'Judas Child',
 "Jupiter's Bones : A Peter Decker/Rina Lazarus Novel (Peter Decker &amp; Rina Lazarus Novels (Paperback))",
 'Just Plain Folks: Original Tales of Living, Loving, Longing, and Learning, As Told by a Perfectly Ordinary, Quite Commonly Sensible, and Absolutely Awe-Inspiring colore',
 'Justice Hall: A Mary Russell Novel (Mary Russell Novels (Paperback))',
 'KILLING TIME : AN INSPECTOR BILL SLIDER MYSTERY (Inspector Bill Slider Mysteries)',
 'Kat Kong',
 "Kat's Cradle (A Perfect Crime Book)",
 'Katapult (Kat Colorado Mysteries)',
 'Katwalk (Kat Colorado Mysteries)',
 'Keepers of the Earth Teachers Guide',
 'Key West',
 'Kiss Before Dying (The Best Mysteries of All Time)',
 'Kowloon Tong',
 'Kristin Lavransdatter: The Cross (Kristin Lavransdatter (Vintage))',
 'L.A. Confidential',
 'LAUGH BOOK, THE',
 'Lazarus and the Hurricane: The Freeing of Rubin \\Hurricane\\ Carter',
 "Lee Wade's Korean Cookery",
 'Light Thickens',
 "Lion's Blood : A Novel of Slavery and Freedom in an Alternate America",
 'Little Big Man',
 'Lost in a Good Book: A Thursday Next Novel',
 'Man With A Mission (The Men Of Maple Hill) (Harlequin Superromance, No. 1033)',
 'Marie Antoinette: Princess of Versailles, Austria-France, 1769 (The Royal Diaries)',
 'Marriage By The Book  (Florida) (Born in the USA)',
 'Martin Dressler : The Tale of an American Dreamer (Vintage Contemporaries)',
 'Master and Commander (Movie Tie-In Edition)',
 "Maya's First Rose: Diary of a Very Special Love",
 'Me: Stories of My Life',
 'Memnoch the Devil (Rice, Anne, Vampire Chronicles, 5th Bk.)',
 'Miami Spice: The New Florida Cuisine',
 "Miguel De Cervantes's Don Quixote",
 'Milk Treading',
 'Mists of Time: Ngapuhi Myths and Legends',
 'Modern Women',
 "Molly Moon's Incredible Book of Hypnotism (Molly Moon Books (Hardcvoer))",
 'Monkey Wrench Gang',
 'More Shtuff - Mutts Iii (Mutts)',
 'More Tales of the City',
 'Moreau Omnibus: Forests of the Night/Emperors of the Twilight/Specters of the Dawn',
 'Mother Tongue (Passport Books No 3)',
 "Moving on: The Gay Man's Guide for Coping When a Relationship Ends",
 'Mr. Bridge',
 'Mrs. Mike',
 'Murder Runs in the Family: A Southern Sisters Mystery',
 'Murder With Puffins : A Meg Langslow Mystery (A Meg Lanslow Mystery)',
 'Murder on a Bad Hair Day: A Southern Sisters Mystery',
 'My Dark Places: An L.A. Crime Memoir',
 'My Father Is in the Navy',
 'My Little Golden Book of Cars and Trucks (Little Golden Book)',
 'N.P.: A Novel',
 'New Pocket Hawaiian Dictionary: With a Concise Grammar and Given Names in Hawaiian',
 'Night Dogs',
 'Night Train to Memphis',
 'Night of the Avenging Blowfish: A Novel of Covert Operations, Love, and Luncheon Meat',
 'Nights in the Gardens of Spain',
 "No Mirrors in My Nana's House",
 'No More Dying Then! (Vintage Crime/Black Lizard)',
 'No Shirt, No Shoes... No Problem!',
 'Nursing Home Murder',
 'O Jerusalem (Mary Russell Novels (Paperback))',
 'Oahu the Gathering Place',
 'Obake:  Ghost Stories in Hawaii (Mutual Publishing Paperback)',
 'Odd Girl Out: The Hidden Culture of Aggression in Girls',
 'On Edge',
 'On a Street Called Easy, in a Cottage Called Joye',
 'One Police Plaza',
 'One life at a time: Making a world of difference',
 'Oracles and Miracles',
 'Oranges Are Not the Only Fruit',
 'Our Mutts Five',
 'Overcoming migraine: A comprehensive guide to treatment and prevention by a survivor',
 'P.S. Longer Letter Later',
 "Parents Are Teachers Too: Enriching Your Child's First Six Years (Little Hands(r))",
 'Pearl',
 'Poirot Investigates (Hercule Poirot Mysteries (Paperback))',
 'Pooh Trick or Treat! (Little Golden Books)',
 "Pooh's Workout Book",
 'Postcards from the Underground: Portraits from the Beat Era',
 'Postmodern Pooh',
 'Potiki (Talanoa : Contemporary Pacific Literature)',
 'Practical English Handbook',
 'Prey',
 'Prince and Other Dogs II',
 'Prince: And Other Dogs 1850-1940',
 'Propeller One-Way Night Coach: A Story',
 'Puerto Rico Off the Beaten Path, 2nd: A Guide to Unique Places',
 'Pupus: An Island Tradition',
 'Quaker Indictment (An Elizabeth Elliot Mystery)',
 'RESCUE',
 'RIGHT TO DIE : RIGHT TO DIE',
 "Rainbow's End",
 'Random Family: Love, Drugs, Trouble, and Coming of Age in the Bronx',
 'Ransom',
 'Rashomon Gate',
 "Rehearsal's Off!",
 'Reliquary',
 'Requiem for a Glass Heart',
 'Rest for the Wicked Ppr Nz',
 'Reweaving the World: The Emergence of Ecofeminism',
 'Rice',
 'Right as Rain',
 'River God',
 'Room Temperature: A Novel',
 "Rosie's Bakery All Butter Fresh Cream Sugar Packed No Holds Barred Baking Book",
 'Rush to Us/Americans Hail Rush Limbaugh',
 'Ryan White: My Own Story',
 'SEAL FORCE ALPHA',
 'SHALLOW GRAVES : SHALLOW GRAVES',
 'SHOCK WAVE (Dirk Pitt Adventures (Hardcover))',
 'Sacajawea (Lewis &amp; Clark Expedition)',
 'Sarah: Women of Genesis',
 'Scales of Justice (Inspector Roderick Alleyn Mysteries)',
 'Scandinavian Feasts',
 'Scarlet Women: A Novel',
 'Scuffy the Tugboat and His Adventures Down the River',
 'Send in the Stunt Mom: The Second Collection of Committed',
 'Serious Intent',
 'Seven Little Postmen (Little Golden Book)',
 'Shadow Song',
 'She Walks These Hills',
 "She's Gone Country: Dispatches from a Lost Soul in the Heart of Dixie",
 'Shenandoah Christmas (You, Me &amp; The Kids) (Harlequin Superromance, No. 1024)',
 'Sherlock Holmes and the Ice Palace Murders: From the American Chronicles of John H. Watson, M.D',
 'Short &amp; Tall Tales: Moose County Legends Collected by James Mackintosh Qwilleran',
 'Show of Evil',
 'Siddhartha',
 'Sideshow (One Last Wish)',
 "Singin' and Swingin' and Gettin' Merry Like Christmas",
 'Sins of the Fathers',
 'Sins of the Seventh Sister',
 'Slackjaw',
 'Slam (Alloy Books)',
 'Sling Blade: A Screenplay',
 'Smartest Bear and His Brother Oliver',
 'So Long a Letter (African Writers Series)',
 'Spinsters in Jeopardy',
 'Stern Men',
 'Strange Days: My Life With and Without Jim Morrison',
 'Stuart Little',
 'Substitute Father (Marriage Of Inconvenience) (Harlequin Super Romance)',
 'Suitable for Framing W/the Corpse Had a Familiar Face',
 'Susie, Sadly, and the Black Torpedo of Doom',
 "Suzanne's Diary for Nicholas",
 "Talk: Npr's Susan Stamberg Considers All Things",
 'Tangi (Pacific Writers Series)',
 'Tao Te Ching',
 'Terms of Adornment : The Ultimate Guide to Accessories',
 'Terrific Pacific Cookbook',
 'The Abduction',
 'The African-American Kitchen: Cooking from Our Heritage',
 'The Art Of Celtia',
 'The Ballad of Frankie Silver',
 'The Best American Nonrequired Reading 2002 (Best American Nonrequired Reading, 2002)',
 'The Big Bounce',
 'The Biggest Pumpkin Ever',
 'The Bitch in the House : 26 Women Tell the Truth About Sex, Solitude, Work, Motherhood, and Marriage',
 "The Book of Ruth (Oprah's Book Club (Hardcover))",
 'The Breaker',
 'The Brimstone Wedding',
 'The Burning City',
 'The CHURCH MICE &amp; THE MOON (Church Mice &amp; the Moon)',
 'The Celts Activity Book',
 'The Cereal Murders',
 'The Challenge of Parenthood',
 'The Chocolate Frog Frame-Up (Chocoholic Mysteries)',
 'The Complete History of Jack the Ripper',
 'The Conscious Reader',
 'The Constitution of the United States of America',
 'The Corner : A Year in the Life of an Inner-City Neighborhood',
 'The Death of the Body',
 'The Dirty Girls Social Club: A Novel',
 'The Doubtful Guest',
 "The Dragon King's Palace: A Novel",
 'The Dying Animal',
 'The Egg and I',
 'The Elephant Vanishes: Stories (Vintage International)',
 "The Essential 55: An Award-Winning Educator's Rules for Discovering the Successful Student in Every Child",
 'The Final Judgement',
 'The Five Minute Iliad Other Instant Classics : Great Books For The Short Attention Span',
 'The Glory Field',
 'The Great and Secret Show',
 'The Highwayman',
 "The Hungry Ocean : A Swordboat Captain's Journey",
 'The Island of the Colorblind',
 'The Labors of Hercules (Hercule Poirot Mysteries (Paperback))',
 'The Last Lone Inventor: A Tale of Genius, Deceit, and the Birth of Television',
 'The Last Report on the Miracles at Little No Horse: A Novel',
 "The Left-Hander's Handbook",
 'The Limits of Detection',
 'The Lost Get Back Boogie',
 "The MOTLEY FOOL'S RULE BREAKERS, RULE MAKERS : THE FOOLISH GUIDE TO PICKING STOCKS",
 'The Magic School Bus Going Batty: A Book About Bats (Magic School Bus)',
 'The Mermaids Singing (A Dr. Tony Hill &amp; Carol Jordan Mystery)',
 'The Minimalist Cooks at Home : Recipes That Give You More Flavor from Fewer Ingredients in Less Time',
 'The Monster at the End of This Book',
 'The Moor: A Mary Russell Novel',
 'The Music Lesson : A Novel',
 'The New Basics Cookbook',
 'The New Joy of Cooking',
 'The New Read-Aloud Handbook',
 'The No Spin Zone : Confrontations with the Powerful and Famous in America',
 'The Noisy Counting Book (Tough Enough for Toddlers)',
 'The Odd Job (Sarah Kelling and Max Bittersohn Mysteries (Hardcover))',
 'The Philip K. Dick Reader',
 'The Philosophy of Andy Warhol',
 'The Proving',
 'The Revenge of the Hound',
 'The River Midnight',
 'The Salmon of Doubt: Hitchhiking the Galaxy One Last Time',
 "The Samurai's Daughter",
 'The Sand Wars: Solar Kill, Lasertown Blues and Celestial Hit List (Sand Wars)',
 'The Science of Self-Realization',
 "The Shelters of Stone (Earth's Children, Book 5)",
 'The Silver Palate Cookbook',
 "The Simple Solution to Rubik's Cube",
 'The Singing Whakapapa',
 'The Sound of Waves',
 'The Stand: The Complete &amp; Uncut Edition',
 'The Tick: Mighty Blue Justice!',
 'The Traveler',
 'The Trial',
 'The Truck Book (Best Book Club Ever)',
 'The Twelve Dancing Princesses: A Folk Tale from the Brothers Grimm (Easy to Read Folktale)',
 "The Ubiquitous Shrimp: From Simple to Exotic, from Feasts to Snacks, All the Wonderful Ways to Savor America's Favorite Seafood",
 "The Virgin's Knot",
 'The Way They Learn',
 'The Western way: A practical guide to the Western mystery tradition',
 'The Whale Rider',
 "The White Dog Cafe Cookbook: Recipes and Tales of Adventure from Philadelphia's Revolutionary Restaurant",
 "The White Mare's Daughter (Epona)",
 'The Wise Women of Havana',
 'The Woman in the Yard',
 'The Wreck of the Whaleship Essex',
 'The good-by day (A Little golden book)',
 'These is My Words',
 'Those Who Hunt the Night',
 'Three Complete Novels: The Andromeda Strain, The Terminal Man, and The Great Train Robbery',
 'Tied Up in Tinsel',
 'To Afghanistan and Back',
 "Toons for Our Times: A Bloom County Book of Heavy Metal Rump 'N Roll",
 "Traitor's Gate",
 'Trick Questions (Tubby Dubonnet Mysteries)',
 'Truckers',
 'True Crime: The Novel',
 'True Love',
 'Truelove and Homegrown Tomatoes',
 'Turning Thirty',
 'Turning on the Girls',
 'Twilight over Burma: My Life As a Shan Princess (Kolowalu Books (Paperback))',
 "Two O'Clock, Eastern Wartime : A Novel",
 'Ulysses (Vintage International)',
 "Unbelievably Good Deals That You Absoultely Can't Get Unless You're a Parent (Unbelievably Good Deals That You Absolutely Can't Get Unless You're a Parent)",
 'Uncle Boris in the Yukon and Other Shaggy Dog Stories',
 'Unplugged Kitchen: A Return to the Simple, Authentic Joys of Cooking',
 'Up Jumps the Devil (Deborah Knott Mysteries (Paperback))',
 'Vernon God Little: A 21st Century Comedy in the Presence of Death',
 'Virginia Woolf: The Impact of Childhood Sexual Abuse on Her Life and Work',
 'Visions of Sugar Plums',
 "We're in the Money",
 "What To Cook When You Think There's Nothing in the House To Eat : More Than 175 Easy Recipes And Meal Ideas",
 "What to Expect When You're Expecting, 3rd Edition",
 "What to Expect When You're Expecting, Third Edition",
 'When in Rome',
 'When the Emperor Was Divine (Alex Awards (Awards))',
 'When the Sacred Ginmill Closes (Matthew Scudder Mysteries (Paperback))',
 'Where the Sidewalk Ends: The Poems and Drawings of Shel Silverstein',
 'White Trash Cooking (Jargon)',
 'Whoreson: The Story of a Ghetto Pimp',
 'Wild Kat (Kat Colorado Mysteries)',
 'Wild Seed',
 "William's Doll (Jp 067)",
 'Wings',
 'Witches of Eastwick',
 'With Thanks and Appreciation: The Sweet Nellie Book of Thoughts, Sentiments, Tokens and Traditions of the Past',
 'Wobegon Boy',
 "World's End (Contemporary American Fiction)",
 'Y2K',
 "YESTERDAY'S NEWS : YESTERDAY'S NEWS",
 'Yesh! Mutts Iv (Mutts)',
 'You Are My I Love You',